graft src
graft tests

include CONTRIBUTING.md
include LICENSE
include README.md
include Makefile
recursive-include requirements *.txt

include tox.ini .travis.yml

global-exclude *.py[co] __pycache__
